<html>

<head>
  <title>Website</title>
  <style>
    @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

    body {
      text-align: center;
    }

    h1 {
      font-family: 'Amatic SC', cursive;
      font-weight: normal;
      color: #8ac640;
      font-size: 2.5em;
    }
  </style>

</head>

<body>
  {% block body %}{% endblock %}

</body>

</html>