@import 'bootstrap.scss';

body {
  background: url('http://getwallpapers.com/wallpaper/full/7/f/0/61269.jpg') no-repeat fixed center;
  h1 { 
  background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
  background: linear-gradient(to right, #45B649, #DCE35B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}
